@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <br />
            <h2>Allowed Domains:</h2>
            <img src="/img/tmedia.png" style="width: 100%;margin: 11px 0;" />
            <img src="/img/radar.png" style="width: 100%;margin: 11px 0;" />
            <img src="/img/coegi.png" style="width: 100%;margin: 11px 0;" />
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Click to authenticate:</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button style="padding: 1.5rem 2rem;font-size: 2.25rem;line-height: 0.5;display: block;margin: auto;" type="submit" class="btn btn-primary btn-lg" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
